body {
  background-color: #f0f0f0;
}
.visualisation, #slider, h3 {
  background-color: white;
}

td {
  text-align: right;
}

/*.glyphi.pause {
  display: none;
}*/

#load {
  width: 100%;
  height: 100%;
  font-size: 30px;
}

.glyphicon-pause {
  display: none;
}

.buttons {
  /*clear:both;*/
}

#load td {
  vertical-align: middle;
  text-align: center;
}

#jaartal, #jaartalDiv {
  font-size: 20px;
  color: #f5f5f5;
  margin: auto;
  width: 50px;
  text-align: center;
  display: inline
}

#currentJaar {
  font-size: 30px;
}

.berekenKeuze, .resetKeuze {
  display: inline-block;
  float: left;
  width: 50%;
  vertical-align: top;
}

.control {
  font-size: 20px;
  cursor: pointer;
}

.control:hover {
  color: #808080;
}

.btn-group .control:hover {
  color: #f5f5f5;
}

.btn-group {
  display: inline-block;
  width: 100px;
}

.questionButton {
  float: right;
}
.dropdown,
.btn {
  background-color: grey;
}
.btn {
  color: #f5f5f5;
}

/*#sliderJaren {*/
  /*width: 900px;*/
/*}*/

.btn:hover {
  background-color: #dcdcdc;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#main {
  visibility: hidden;
}

.alert {
  display: none;
}

/*#piramide, #balans {
  display: inline-block;
  position: relative;
}*/

.overlay {
  fill: none;
  pointer-events: all;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000000;
  stroke-width: 2px;
}

#piramide > #yAxis path,
#piramide > #yAxis line {
  stroke-width: 0;
}

#balans > .line {
  fill: none;
  stroke-width: 5px;
}

.expenses {
  stroke: red;
  fill: red;
}

.revenues {
  stroke: green;
  fill: green;
}

.vrouw {
  fill: fuchsia;
}

.man {
  fill: blue;
}

.piramideHover {
  fill: grey;
}

#contributie > .dashedLine {
  stroke: gray;
  stroke-width: 2px;
  stroke-dasharray: 5px;
}

.focusContributie {
  fill: transparent;
}

/*.infoContributie > .info {
  visibility: hidden;
}*/
/*.focus {
  display: none;
}

.crosshair {
  stroke: grey;
}*/

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 25%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
