.container{
  border: 2px solid black;
}

#piramide, #balans {
  display: inline-block;
  position: relative;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000000;
  stroke-width: 2px;
}

#piramide > #yAxis path,
#piramide > #yAxis line {
  stroke-width: 0;
}

#balans > .line {
  fill: none;
  stroke-width: 5px;
}

.expenses {
  stroke: red;
  fill: red;
}

.revenues {
  stroke: green;
  fill: green;
}

.legendBox {
  stroke: black;
  stroke-width: 3px;
}

.vrouw {
  fill: fuchsia;
}

.man {
  fill: blue;
}

.piramideHover {
  fill: grey;
}

#contributie > .dashedLine {
  stroke: gray;
  stroke-width: 2px;
  stroke-dasharray: 5px;
}

.focusContributie {
  fill: transparent;
}

/*.infoContributie > .info {
  visibility: hidden;
}*/
/*.focus {
  display: none;
}

.crosshair {
  stroke: grey;
}*/
